<html>
  <div class="container">
    <body>
      <%= form_for @filme do |form| %>
        <div class="row">
          <div class="col-sm-8">
            <div class="form-group">
              <%= form.label :nome %>
              <%= form.text_field :nome, class:"form-control" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <div class="form-group">
              <%= form.label :descrição%>
              <%= form.text_area :descricao, class:"form-control", rows:4 %>
            </div>
          </div>
        </div>  

        <%= form.submit texto_da_acao, class: "btn btn-primary" %>
      <% end %>
    </body>
  </div>
</html>