<% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="container">
  <div class="row align-items-start">
    <% @filmes.each do |filme| %>
      <div class="col">
        <div class="card card-custom p-2 m-3" style="width: 18rem;">
          <div class="card-body">
            <h3 class="card-text"><%= filme.nome %></h3>
            <p class="card-text"><%= filme.descricao %></p>
            <%= button_to "Excluir", filme, method: :delete, class:"btn btn-danger", 
            data: {confirm: "Tem certeza que deseja remover o filme #{filme.nome}? "} %>
            <%= link_to "Editar", edit_filme_path(filme), class:"btn btn-default" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>